h1 { color: #006633; }
body,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
a {font-family: "Lato", sans-serif}
h1,button {font-family: "Montserrat", sans-serif}
h1 { color: #006633; }

/* header box with a solid green border and box shadow */
.heading-box {
  border: 5px solid #006633;
  padding: 20px;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
  background-color: #FFCC33;
  border-radius: 8px;
  margin-left: 10%;
  margin-right: 10%;
}
